<div class="col">
    <div class="card pie-card">
        <a href="/pie/details?pieId=@Pie?.PieId">
            <img src="@Pie?.ImageThumbnailUrl" class="card-img-top" alt="@Pie?.Name">
        </a>
        <div class="card-body pie-button">

            <div class="d-flex justify-content-between mt-2">
                <a href="/pie/details?pieId=@Pie?.PieId">
                    <h2 class="text-start">
                        @Pie?.Name
                    </h2>
                </a>
                <h5 class="text-nowrap">
                    @Pie?.Price.ToString("c")
                </h5>
            </div>
        </div>
    </div>
</div>
