@model PieListViewModel

@* Указание в какой файл шаблона должно встроиться это тело*@
@* Если файл шаблона один на все приложение, то в этом случае указание на шаблон можно вынести 
в отдельный файл _ViewStart.cshtml, который должен находиться в папке Views *@
@* @{
    Layout = "_Layout";
} *@

    <h1>
        @Model.CurrentCategory
    </h1>
    @foreach (var pie in Model.Pies)
    {
        <div>
            <h2>@pie.Name</h2>
            <h3>@pie.Price.ToString("c")</h3>
            <h4>@pie.Category.CategoryName</h4>
        </div>
    }
